@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --text-w-color: #fff;
  --text-b-color: #000;
  --secondary-color: #21d0fb;


  --font-weight-bold: bold;
  --font-weight-semibold: 600;
  --font-weight-light: 300;
  --font-weight-extralight: 200;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --font-weight-regular: normal;


  --padding-left-main: 100px;
  --padding-standard: 0 100px;

  --padding-left-normal: 50px;
  --padding-standard-normal: 0 50px;

  --padding-left-little-small: 25px;
  --padding-standard-little-small: 0 25px;

  --padding-left-small: 40px;
  --padding-standard-small: 0 40px;


  --padding-left-medium: 70px;
  --padding-standard-medium: 0 70px;
}

@font-face {
  font-family: 'Clash Display';
  src: url('fonts/ClashDisplay-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('fonts/ClashDisplay-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('fonts/ClashDisplay-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('fonts/ClashDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('fonts/ClashDisplay-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('fonts/ClashDisplay-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Popup container styling */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, .0125);
  justify-content: right;
  align-items: end;
  z-index: 2;
}

/* Popup container active state to make it visible */
.popup-container.active {
    display: flex;
}

/* Popup box styling */
.popup-box {
    /* position: relative; */
    background-color: #fff;
    padding: 20px;
    margin: 0 2rem 2rem 0;
    width: 30%;
    /* height: 60%; */
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
}

/* .popup-box iframe {
    width: 100%;
    height: 100%;
    max-height: 90vh;
} */


.emo_btn, .attach_btn {
  display: inline-block;
  width: 40px; 
  height: 40px;
  line-height: 40px; 
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  color: #333;
  }

  #word-count{
    font-size: 12px;
    font-family: 'Clash Display', sans-serif;
    text-align: right;
    /* border-top: 1px solid gray; */
  }
  .uper{
    border-top: 1px solid rgb(197, 197, 197);
  }
  .lower{
    border-bottom: 1px solid rgb(197, 197, 197);
    padding-bottom: 5px;
  }
  
  .pop_sub{
    padding-top: 5px;
  }

  .close-btn i{
    font-size: 1.5rem;
  }
  
  .pop_nav_head p{
    font-family: 'Clash Display', sans-serif;
    font-weight: var(--font-weight-medium);
  }

  .pop_nav_pera p{
    font-family: 'Clash Display', sans-serif;
    color: gray; 
    font-size: 13px;
  }

  .pop_sub_btn input{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Clash Display', sans-serif;
    font-weight: var(--font-weight-medium);
  }


/* Hide the default file input */
v

/* Style for the icon */
.file-icon {
  cursor: pointer;
  font-size: 24px;
  color: #333; 
}

.file-icon:hover {
  color: #007bff;
}


.pop_logo img{
  width: 50px;
  border-radius: 50%;
}

.pop_nav_main{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.pop_nav_con{
  display: flex;
  justify-self: start;
  align-items: center;
  column-gap: 10px;
}

textarea{
  resize: none;
  width: 100%;
  opacity: .7;
  outline: none;
  padding: 10px;
  font-size: 1rem;
  border: none;
}

.pop_sub_child1{
  width: 100%;
}

.pop_sub_child1 .emo_btn,
.pop_sub_child1 .attach_btn {
  display: inline-block;
  vertical-align: middle;
}

.pop_sub_con {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pop_nav_child{
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}